<body style="background-color: #F9F4EF;>
<%=render 'layouts/header' %>

<div style="background-color: #F9F4EF; width: 100%;">
<h2 class="sign-title">회원가입</h2>

<table class="sign-text sign-table">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <tr>
    <td>
      <div class="field form-inputs"><h7>이름</h7><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="btn-group form-inputs" data-toggle="buttons">
        <%= f.label :성별 %><br>
        <div>
        <%= f.label :남자 %>
          <%= f.radio_button :gender, '남자', :checked => true %> 
        <%= f.label :여자 %>
        <%= f.radio_button :gender, '여자', :checked => true%>
       </div>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="form-inputs">이메일
        <%= f.text_field :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="form-inputs">비밀번호
        <%= f.password_field :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="form-inputs">비밀번호 확인
        <%= f.password_field :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="form-actions">
        <%= f.button :submit, "회원가입", class: "btn-primary btn-sign" %>
      </div>
    </td>
  </tr>

<% end %>

</table>
</div>
</body>
