<div class="container">
	<h1 style="margin-top: 5px;" align="center"><%=params[:choice]%></h1>
</div>
<p>Find me in app/views/notice/create.html.erb</p>


<div class="container" style='margin-left: 30px;'>
<%=form_for(Notice.new, url: '/notice/new', method:'post') do |f| %>
  <%=f.label '제목' %><br>
  <%=f.text_field :title, class: "form-control", placeholer: "제목" %><br>
  <%=f.label '내용' %><br>
  <%=f.text_area :content, class: "form-control", placeholer: "내용" %><br>
  <%=f.submit "작성", data: {confirm: '작성하시겠습니까?'} %>
  <%= hidden_field_tag 'choice', params[:choice] %>
<%end%>
</div>