<%=render 'layouts/header' %>

<h1><%=params[:choice]%></h1>
<div style="padding-top: 10%;">
	<div class="container">
		<div>
		<table class="table table-bordered table-hover text-center">
			<thead style="background-color: #EC9124;">
				<tr>
					<th style="text-align: center; width: 650px;"><font color="white">제목</font></th>
					<th style="text-align: center;"><font color="white">작성자</font></th>
					<th style="text-align: center; width: 200px;"><font color="white">작성일</font></th>			
					<th style="text-align: center;"><font color="white">조회</font></th>
				</tr>
			</thead>
			<tbody>
				<%@notices.each do |x|%>
				<tr>
					<td><a href="/notice/show/<%=x.id%>"><%=x.title%></td>
					<td><%=User.find(x.user_id).name%></td>
					<td><%=x.created_at%> 
						<!-- <a href="/notice/<%=x.id%>/edit">수정 </a>
						<%= link_to '삭제', "/notice/delete/#{x.id}", data: {confirm: '삭제하시겠습니까?'}, method: :post %> -->
					</td>
					<td><%= "#{x.unique_impression_count} views" %></td>
<!-- 						조회수
 -->					
				</tr>
				
			</tbody>
			<%end%>
				<%= paginate @notices %>
		</table>

		<a href="/notice/create?choice=<%=@temp%>" class="btn btn-default pull-right">글쓰기</a>

	</div>
	</div>
</div>
