
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">


<%# 제목, 내용, 학교,메뉴   %>

    <%= link_to "/post/index?school=#{params[:school]}&menu=#{params[:menu]}" do%>
        <h1 style="text-align:center;"><%=params[:school]%> <%=params[:menu]%></h1>
    <%end%>
    <br><br><br>
    <h1 style="text-align:center;">글쓰기</h1>
    <%=form_for(dbpost, url: url, school: school, menu: menu, method: :post) do |f|%>
        <div class="form-group">
            <%= f.label :title %> <br>
            <%= f.text_field :title, class: "form-control", required: "required"%>
        </div> 
        
        
        <%# select_style 라디오버튼 (배달?투어?) %>
        <div class="form-group">
            <%= f.label :타입 %><br>
                <%= f.label :배달음식 %>
                        <%= f.radio_button :select_style, '배달', :checked => false, :onClick => "select_eat_call(this)" , required: "required"%> 
                <%= f.label :매장투어 %>
                    <%= f.radio_button :select_style, '투어', :checked => false, :onClick => "select_eat_call(this)"%> 
        </div>
        <%# select_eat 라디오 같이먹을것인지 나눠서 헤어질지 %>
        <div class="form-group">
            <%= f.label :배달옵션 %><br>
                <%= f.label :함께식사 %>
                        <%= f.radio_button :select_eat, '함께', :checked => false, :onClick => "call_packing(this)" , required: "required"%> 
                <%= f.label :개별포장 %>
                    <%= f.radio_button :select_eat, '포장', :checked => false, :onClick => "call_packing(this)" %> 
        </div>
        <%# 희망성별 %>
        <div class="form-group">
            <%= f.label :희망성별 %><br>
                <%= f.label :동성 %>
                        <%= f.radio_button :hope_gender, '동성', :checked => false , required: "required"%> 
                <%= f.label :무관 %>
                    <%= f.radio_button :hope_gender, '무관', :checked => false%>            
        </div> <br>

        <div class="form-group">
            <%= f.label :school %>
            <%= f.text_field :ss, :value => school ,class: "form-control", disabled: true%>
            <%= f.hidden_field :school, :value => school %>
        </div>

        <div class="form-group">
            <%= f.label :menu %><br>
            <%= f.select(:menu, @arr, {:selected => menu}, {:class => "form-control", :onchange => "change_menu(this)"}  )%>
        </div>

        <%# 해당 카테고리별 브랜드 %>
        <div class="form-group">
            <%= f.label :브랜드 %><br>
            <%=select_tag 'brand', options_for_select(@brand.collect{ |u| [u] }),{:class => 'form-control'}%>
        </div>  


        <%# fill_cnt 목표인원 %>
        <div class="form-group"> 
            <%= f.label :희망인원 %>
            <%= f.number_field :fill_cnt, placeholder: "숫자를 입력해주세요. (2, 3, 5)", class: "form-control", within: 2...11, required: "required"%>
        </div>

        <%# start_time 시작시간 datetime 폼 %>
        <div class="form-group">
            <%= f.label :희망시간 %>
            <br>
             <%= f.label :오후 %> &nbsp; <input type="checkbox" name="pm" value="true" onclick="change_hour(this)">    &nbsp; &nbsp;
           
             <%=select_tag 'hour', options_for_select(@hour_list.collect{ |u| [u] })%>
             <%=select_tag 'min', options_for_select(@min_list.collect{ |u| [u] })%>
        </div>
        
        <div class="form-group">
            <%= f.label :content%>
            <%= f.text_area :content, class: "form-control", placeholder: "만날위치, 세부메뉴 등을 작성해주세요!", required: "required"%>
        </div>

        <%= hidden_field_tag 'p_id',  params[:id] %>


        <div class="form-group" style="text-align:center;">
            <%= f.submit "올리기", class: "btn btn-success"%>
        </div>
    <%end%>
    </div>


      <div class="col-md-4"></div>
</div>

<script>

    function change_menu(data)
    {
        
        var objSel = document.getElementById("brand");
        
        for(i=objSel.length; i>=0; i--){
            objSel.options[i]=null;
        }
        var brand=[];
        if(data.value == "치킨")
            brand = ['KFC','BBQ','BHC','교촌치킨','굽네치킨', '맘스터치','호식이두마리치킨'];
        else if (data.value=="피자")
            brand = ['7번가피자','도미노피자','미스터피자','알볼로피자','임실치즈피자','파파존스','피자에땅','피자헛'];
        else if (data.value=="족발")
            brand = ['깐깐한족발','도야족발','원할머니보쌈','장충동왕족발','행복담은족발'];
        else if (data.value=="패스트푸드")
            brand = ['KFC','맥도날드','롯데리아','맘스터치','버거킹','파파이스'];
        else if (data.value == "분식")
            brand = ['신전떡볶이','신참떡볶이','아딸','엽기떡볶이','죠스떡볶이'];
        
        brand.push('기타');
        for(var i = 0 ; i<brand.length; i++)
        {
            var objOption = document.createElement("option");        
            objOption.text = brand[i];
            objOption.value = brand[i];
            objSel.options.add(objOption);
        }
    }

    function change_hour(data)
    {
        
        var am = [0,1,2,3,4,5,6,7,8,9,10,11];
        var pm = [12,1,2,3,4,5,6,7,8,9,10,11];
        var objSel = document.getElementById("hour");
        for(i=objSel.length; i>=0; i--){
            objSel.options[i]=null;
        }
        if(data.checked) // 체크되어있을 때 오후시간을 불러들여야함.
        {
            for(var i = 0 ; i<pm.length; i++)
            {
                var objOption = document.createElement("option");        
                objOption.text = pm[i];
                objOption.value = pm[i];
                objSel.options.add(objOption);
            }
        }
        else{ // 오전시간을 불러들여야함.
            for(var i = 0 ; i<am.length; i++)
            {
            var objOption = document.createElement("option");        
            objOption.text = am[i];
            objOption.value = am[i];
            objSel.options.add(objOption);
            }
        }
    }

    function select_eat_call(data) 
    {
        /* 배달음식과 매장투어를 선택시 배달옵션을 활성화할지 비활성화할지 선택해주는 함수. */
        var radio_btn = document.getElementsByName("dbpost[select_eat]");
       if(data.value == "배달")
       {
           radio_btn[0].checked = false;
           radio_btn[1].checked = false;
           radio_btn[0].disabled = false;
            radio_btn[1].disabled = false;
       }
       else // 매장투어시 함께식사하는걸로 알고있어야함. (활성화)
       {
           var gender = document.getElementsByName("dbpost[hope_gender]");
           radio_btn[0].checked = true;
           for(var i = 0 ; i <2;i++)
           {
               radio_btn[i].disabled = true;
                gender[i].disabled = false;
           }
       }
    }

    function call_packing(data)
    {
        /* 배달옵션에서 개별포장을 할시 성별이 무관해야함 */
        var radio_btn = document.getElementsByName("dbpost[hope_gender]");
        if(data.value == "포장") 
        {
            radio_btn[0].disabled = true;
            radio_btn[1].checked = true;
            radio_btn[1].disabled = true;
        }
        else
        {
            for(var i = 0 ; i<2;i++){
                radio_btn[i].disabled = false;
            }
        }
    }
</script>