<%# 게시판 영역 %>
<%= link_to "/post/index?school=#{params[:school]}&menu=#{params[:menu]}" do%>
    <h1><%=@school%> <%=@menu%> 먹자!</h1>
<%end%>


<% @posts.each do |p| %>
    <%= p.title%> |
    <%= p.content%>
    <br>
<%end%>


<%=link_to '글쓰기', post_new_path(school: @school, menu: @menu)%>