
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">


<%# 제목, 내용, 학교,메뉴   %>

    <%= link_to "/post/index?school=#{params[:school]}&menu=#{params[:menu]}" do%>
        <h1 style="text-align:center;"><%=params[:school]%> <%=params[:menu]%></h1>
    <%end%>
    <br><br><br>
    <h1 style="text-align:center;">글쓰기</h1>
    <%=form_for(@dbpost, url: post_create_path)  do |f|%>
        <div class="form-group">
            <%= f.label :title %> <br>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        
        
        <%# select_style 라디오버튼 (배달?투어?) %>
        <div class="form-group">
            <%= f.label :타입 %><br>
                <%= f.label :배달음식 %>
                        <%= f.radio_button :select_style, '배달', :checked => true %> 
                <%= f.label :매장투어 %>
                    <%= f.radio_button :select_style, '투어', :checked => true%> 
        </div>
        <%# select_eat 라디오 같이먹을것인지 나눠서 헤어질지 %>
        <div class="form-group">
            <%= f.label :배달옵션 %><br>
                <%= f.label :함께식사 %>
                        <%= f.radio_button :select_eat, '함께', :checked => true %> 
                <%= f.label :개별포장 %>
                    <%= f.radio_button :select_eat, '포장', :checked => true%> 
        </div>
        <%# 희망성별 %>
        <div class="form-group">
            <%= f.label :희망성별 %><br>
                <%= f.label :동성 %>
                        <%= f.radio_button :hope_gender, '동성', :checked => true %> 
                <%= f.label :무관 %>
                    <%= f.radio_button :hope_gender, '무관', :checked => true%>            
        </div> <br>


        <div class="form-group">
            <%= f.label :menu %>
            <%= f.text_field :mm, :value => params[:menu], class: "form-control", disabled: true%>
            <%= f.hidden_field :menu, :value => params[:menu]%>
        </div>



        <div class="form-group">
            <%= f.label :school %>
            <%= f.text_field :ss, :value => params[:school],class: "form-control", disabled: true%>
            <%= f.hidden_field :school, :value => params[:school]%>
        </div>


        <%# fill_cnt 목표인원 %>
        <div class="form-group"> 
            <%= f.label :희망인원 %>
            <%= f.text_field :fill_cnt ,class: "form-control", placeholder: "숫자로 입력해주세요! (4, 5...)"%>
        </div>

        <%# start_time 시작시간 datetime 폼 %>
        <div class="form-group">
            <%= f.label :희망시간 %>
            <%= f.text_field :start_time ,class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control", placeholder: "만날위치, 세부메뉴 등을 작성해주세요!"%>
        </div>



        <div class="form-group" style="text-align:center;">
            <%= f.submit "올리기", class: "btn btn-success"%>
        </div>
    <%end%>
    </div>


      <div class="col-md-4"></div>
</div>