<%= link_to "/post/index?school=#{@postdata.school}&menu=#{@postdata.menu}" do%>
    <h1><%=@postdata.school%> <%=@postdata.menu%></h1>
<%end%>



<%if !current_user.info_id%>
     <%=link_to '참여하기', post_join_path(p_id: params[:p_id]), :data => { :confirm => '참여하시겠습니까?'} %>
    <%elsif @postdata.user_id == current_user.id%>
        <%=link_to '삭제', post_delpage_path(p_id: params[:p_id]), method: :post%>
        <%=link_to '수정', post_edit_path(params[:p_id])%>
        
        <%# 여기서는 글쓴사람이 글에 들어왔을때 %>

    <%elsif current_user.info_id == @postdata.info.id%>
        <%=link_to '방 나가기', post_delete_join_path(p_id: params[:p_id]), method: :post ,:data => { :confirm => '나가시겠습니까?'} %>

<%end%>





<br><br>
<%# 방 접속자만 댓글을 볼 수 있다. %>
<%if current_user.info_id == @postdata.info.id%>

    <%@postdata.comments.each do |c|%>
        <%=c.user.name%> |
        <%=c.content%> 
        <%if current_user.id == c.user_id%>
            <%=link_to '삭제', comment_destroy_path(id: c.id), method: :post%>
        <%end%>
        <br>
    <%end%>



    <%=form_for(Comment.new, url: "/comment/create") do |f|%>
        <%=f.text_field :content%>
        <%=f.hidden_field :post_id, :value => @postdata.id%>
        <%=f.submit '제출'%>
    <%end%>
<%end%>

