<%=render 'layouts/header' %>

 <!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8" style="border: 2px #e88f2e solid; border-radius: 10px;">
      <!-- 방제 -->
      <h1 class="mt-4 title"><%=@postdata.title%>           
        <a class="writer" href="#">by <%=@postdata.user.name%></a>
      </h1>

      <hr>
      <!-- 작성일 -->
      <p style="color: #666">작성일 : <%=@postdata.created_at%></p>

      <hr class="line">
     
      <p class="card-body-hashtag">#<%=@postdata.select_style%> #<%=@postdata.select_eat%> 
        <%if @postdata.hope_gender == "동성"%>
          #<%=User.find(@postdata.user_id).gender%>           
        <%else%>
          #<%=@postdata.hope_gender%>
        <%end%>
      </p>
      <p class = "card-body-nickname">시작시간: <%=@postdata.start_time.strftime("%_m/%-d %p %l:%M")%></p>
     
      <hr class="line">
      <!-- Post Content -->
      <div class="post-content">
        <blockquote class="blockquote">
          <p class="mb-0" style="font-size: 20px"><%=@postdata.content%></p>
          <br>

           <%# 참여가 가능한경우ㄴ %>
          <%if !current_user.info_id%>
             <%=link_to '참여하기', post_join_path(p_id: params[:p_id]), :data => { :confirm => '참여하시겠습니까?'} %>
          <%end%>
        </blockquote>
      </div>
          
      <hr>

<%# 방 접속자만 댓글을 볼 수 있다. %>
      <div class="comments">
        <%if current_user.info_id == @postdata.info.id%>

           <div class="container">
            <div class="card-body">
              <%=form_for(Comment.new, url: "/comment/create",  html: {class: "form-inline"}) do |f|%> 
              
               <!-- 작성된 댓글 -->
                <%@postdata.comments.each do |c|%>
                  <p >
                    <div class="profilehover img-circle" style="width:30px;">
                      <img class="img-circle" src="<%=c.user.image.url%>" style="width:25px; height: 25px;" alt="">
                    </div>
                    <div style="font-size: 16px">
                      <%=c.user.name%> &nbsp;| &nbsp;<%=c.content%> 
                      <br>
                      <div style="color: #666"><%=c.created_at%></div>
              
                      <%if current_user.id == c.user_id%>
                        <%=link_to '삭제', comment_destroy_path(id: c.id), method: :post%>
                      <%end%>
                    </div>
                  </p>     
                <%end%>

              <!-- 댓글 입력 창 -->
                <div class="write">
                  <div class="form-group">
                    <%=f.text_field :content, class: "form-control textbox"%>
                  </div>
                    <%=f.hidden_field :post_id, :value => @postdata.id%> 
                  <div class="form-group"> 
                    <%=f.submit '제출', class: "submit"%>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="my-col" style="border: 2px #e88f2e solid; border-radius: 10px;">
      <div class="container">
        <%if current_user.info == @postdata.info%>
        <h1>현재 참여 인원</h1><br>
          <%@postdata.info.users.each do |u|%>
            <div style="font-size: 16px">
              <img class="img-circle" src = "<%=u.image.url%>" style="width:25px; height: 25px">
              <%=u.name%>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>

  </div>
  <br>
  <div class="container">
    <%# 목록 가기 %>
    <%= link_to "/post/index?school=#{@postdata.school}&menu=#{@postdata.menu}" do%>
        <button class="btn btn-default">목록</button>
    <%end%>
    
    &nbsp;
    <%@postdata.info.users.each do |u|%>
      <%if current_user == u%>
        <%@temp = @temp+1%>
      <%end%>
    <%end%>

    <% if @postdata.user == current_user%>
        <%=link_to post_edit_path(params[:p_id]) do%>
           <button class="btn btn-default">편집</button>
        <%end%>
        <%=link_to post_delete_join_path(p_id: params[:p_id]), method: :post ,:data => { :confirm => '삭제하시겠습니까?'} do %>
          <button class="btn btn-default">글 삭제</button>
        <%end%>
      <%elsif @temp == 1%>
        <%=link_to post_delete_join_path(p_id: params[:p_id]), method: :post ,:data => { :confirm => '나가시겠습니까?'} do %>
          <button class="btn btn-default">방 나가기</button>
        <%end%>
        <%@temp = 0%>
     <%end%>
  </div>
      <!-- /.row -->
</div>
    <!-- /.container -->
<br><br>

