<%=render 'layouts/header' %>
<div class="container content">
	<div class="row" style="margin-top: 1em">
		<%= render 'layouts/sidebar' %>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" method="post" id="signupForm" novalidate="novalidate">
						<div class="container">
							<h1>
								<%=render 'layouts/my_info'%>
							</h1>
						</div>
						<div style="margin-top:1em"></div>
					</form>
					<%= form_tag '/mypage/editprofile', method: 'post', multipart: true do %>
						<%= file_field_tag 'image', class:"btn btn-default"%><br> 
						<%= submit_tag  '수정하기', class:"btn btn-default" %> 
					<% end %>
					<!--<br>
					<%= form_tag '/mypage/deleteprofile', method: 'post', multipart: true do %>
						<%= submit_tag  '삭제하기', class:"btn btn-default"%> 
					<% end %>-->
				</div>
			</div>
		</div>
	</div>
</div>
