<link href="http://somewebsite.com/css/bootstrap.css" rel="stylesheet">
<link href="http://somewebsite.com/css/bootstrap.min.css" rel="stylesheet">
<link href="index.scss" rel="stylesheet">

<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%=link_to '덮집회의', root_path, id: 'logo'%>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in?%>
            <li style="margin-top: 14px;"><p style="color: white"><%= current_user.name %>님 환영합니다</p></li>

          <%end%>
            <li><%=link_to '공지사항', href='/notice/index?choice=공지사항'%></li>
      
            <li><%=link_to '고객센터', href='/notice/index?choice=고객센터'%></li>
            
            <% if user_signed_in?%>
              <li><%=link_to '마이페이지', href='/mypage/index' %></li>
              <li><%=link_to '로그아웃', destroy_user_session_path, :data => {:confirm => '로그아웃하시겠습니까?'}, method: :delete %></li>
              <%else%>
              <li><%=link_to '로그인', new_user_session_path%></li>
            <%end%>
        </ul>
      </nav>
    </div>
</header>
