<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%=link_to '덮집회의', root_path, id: 'logo'%>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%=link_to '공지사항', href='/notice/index' %></li>
            <% if user_signed_in?%>
                <li><%=link_to '로그아웃', destroy_user_session_path, :data => {:confirm => 'Are you sure?'}, method: :delete %></li>
                
            <%else%>
                <li><%=link_to '로그인', new_user_session_path%></li>

            <%end%>
            
            <li><%=link_to '고객센터', href='/notice/index' %></li>
            
            <% if user_signed_in?%>
              <li><%=link_to '마이페이지', href='/mypage/index' %></li>
            <%end%>
        </ul>
      </nav>
    </div>
</header>
