<!DOCTYPE html>
<html>
<link href="http://somewebsite.com/css/bootstrap.css" rel="stylesheet">
<link href="http://somewebsite.com/css/bootstrap.min.css" rel="stylesheet">
<link href="index.scss" rel="stylesheet">
  <head>
    <title>자취생 더치페이 커뮤니티</title>
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>

    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
      <%= yield %>
      <br><br><br>
      <footer>
          <div class="footer">
              <img src="<%=asset_path 'likelion_logo.png'%>" width="50px" height="50px">
              <h4>멋쟁이 사자처럼 6기</h4>
              <small style="word-spacing: 5px;">
                  <a href="https://github.com/khb1109/likelion2" style="text-decoration: none;">Our's Github /</a>
                  <a href="https://likelion.net" style="text-decoration: none;">Likelion homepage</a>
              </small>
          </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
      <script src="js/jquery-3.1.1.js"></script>
      <script src="js/bootstrap.js"></script>
  </body>
</html>
